*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  font-size: 62.5%;  
  --ff-heading:'Staatliches', cursive;
  --ff-heading-secondary: 'Palanquin', sans-serif;
  --hue:230;
  --bg-primary: hsla(var(--hue), 0%, 89.8%, 1);
  --bg-img: hsla(var(--hue), 100%, 97%, 1);
  --bg-header: hsla(var(--hue), 17%, 62%, 1);
  --bg-secondary-p: hsla(var(--hue), 18%, 79%, 1);
  --bg-secondary: hsla(312, 91%, 96%, 1);
  --fc-primary: hsla(var(--hue), 0%, 100%, 1);
  --fc-secondary: hsla(var(--hue), 84%, 12%, 1);
  --fc-card: hsla(232, 17%, 35%, 1);
  --fs-primary: 4.0rem;
  --fs-secondary:2.0rem;
}
body{
  background-color: var(--bg-primary);
  margin: 10.2rem auto 14.8rem;
  font-family: var(--ff-heading);
  font-size: var(--fs-primary);
}
.page{
  max-width: clamp(33rem, 30rem + 60vw, 90rem);
  margin: 0 auto;
  padding: 0 5rem;
}
img{
  width: 100%;
  height: auto;  
}
header{
  background: var(--bg-header);
  padding: 0 0 2.9rem;
  text-align: center;   
}
header img{ 
  width: 13.7rem;
  height: 13.7rem;  
}
header h1{
  font-family: var(--ff-heading);
  font-size: 3rem;
  line-height: 3.4rem;
  letter-spacing: 0.05em;
  padding: 0.8rem;
  background-color: var(--bg-secondary-p);
  color: var(--fc-primary);
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  
}
main{
  display: grid;
  gap: 3.6rem;
  background-color: var(--bg-img);
  text-align: center;
  padding: 1.4rem 3.2rem;  
}
main p{
  font-family: var(--ff-heading-secondary);
  color: var(--fc-secondary);
  font-size: 1.2rem;
  line-height: 1.5rem;
  padding: 4rem;
}
.imagem{
  padding: 3.2rem;
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  margin-bottom: 6rem;  
  animation: topdown 500ms reverse backwards;
}
.card{
  position: relative;
  font-family: var(--ff-heading);
  
}
.card img{
  height: auto;
  border-radius: 2rem;
  object-fit: cover;  
}
.card:hover{
  transform: scale(1.09);
  filter: saturate(1.45);
}
.card h2{
  position: absolute;
  top: 1.6rem;
  right: 0.9rem;
  font-size: 1.5rem;
  padding: 0 2.4rem;
  background-color: var(--bg-secondary);
  color: var(--fc-card);
  border-radius: 2rem;
  width: fit-content;
  align-items: center;
  display: inline-flex;  
  animation: topdown 700ms 700ms backwards;
}

@keyframes topdown{
  0%{
    opacity: 0;
    transform: translateY(-15px);
  }
  100%{
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes downtop{ 
  100%{
    opacity: 0;
    transform: translateY(15);
  }
}

@media (min-width: 322px){
  header h1{
    font-size: var(--fs-primary);
  }
  main p{
    font-size: var(--fs-secondary);
  }
  .card h2{
    font-size: var(--fs-secondary);
    right: 3.9rem;
  }  
}
