*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  font-size: 62.5%;  
  --ff-primary: 'Staatliches', cursive;
  --ff-secondary:  'Palanquin', sans-serif;  
  --bg-body: hsla(0,0%,89.8%,1);   
  --bg-texto: hsla(233, 100%, 97%, 1); 
  --bg-secondary: hsla(218, 17%, 62%, 1);
  --bg-secondary2: hsla(275, 18%, 79%, 1);  
  --fc-primary: hsla(0, 0%, 100%, 1);
  --fc-secondary: hsla(232, 17%, 35%, 1); 
  --fc-secondary2: hsla(274, 84%, 12%, 1); 
  --fc-card: hsla(312, 91%, 96%, 1);
  --fs-primary: 4rem;
  --fs-secondary:2.4rem;
  --fs--secondary2:1.4rem;
}
body{
  margin: 10.6rem auto 14.8rem;
  background-color: var(--bg-body);
} 
.page{
  width: 38.4rem;
  margin: 0 auto;
  text-align: center;
  background: var(--bg-body);
  padding: 0 2rem;
}
header{  
  margin: 0 auto;
}
.titulo{
  background-color: var(--bg-secondary);
  padding: 0 0 2.9rem 0;
}
.titulo img{
  width: 13.7rem;
  height: auto;
  margin: 3.2rem  auto;
}
.titulo h1{
  font-family: var(--ff-primary);
  color: var(--fc-primary);
  font-size: var(--fs-primary);
  background-color: var(--bg-secondary2);
  padding: 0.8rem;
  letter-spacing: 3px;
}
.texto{
  background-color: var(--bg-texto);
  font-family: var(--ff-secondary);
  color:var(--fc-secondary2);
  padding: 1.4rem 4.3rem 6.3rem;
  font-size: 2rem;
  line-height: 1.5rem;
  align-items: center;
}
main {  
  background-color: var(--bg-texto);
}
.imagem{
  padding: 1.4rem 4.1rem 6rem;
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}
.card {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  font-family: var(--ff-primary);
  font-size: 2rem;
  color: var(--fc-secondary);
  position: relative;
}
.card:hover{
  transform: scale(1.1);
  
}
.card p{
  font-size: 2rem;
  position: absolute;
  text-transform: uppercase;
  border-radius: 2rem;
  width: 11.2rem;
  padding: 0 2.4rem;
  background-color: var(--fc-card);
  right: 1.6REM;
  margin-top: 1.6rem;
}
.card img{
  max-width: 32rem;
  transition: transform 300ms;
}
header{
  animation: topdown 700ms;
}
.card{
  animation: downtop 700ms 350ms backwards;
  /*animation-iteration-count: infinite;*/
}

/*animação*/
@keyframes topdown{
  0%{
    opacity: 0;
    transform: translateY(-15px);
  }
  100%{
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes downtop{
  0%{
    opacity: 0;
    transform: translateY(15px);
  }
  100%{
    opacity: 1;
    transform: translateY(0);
  }
}